<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
dsadsadsa
<p>u1</p>
<p>Hello {{ .u1.name }}</p>
<p>年龄: {{ .u1.age }</p>
<ρ>性别: {{ .u1.gender }}</ρ>

<ρ>m1</ρ>
<p>Hello {{ .m1.name }}</p>
<p>年龄: {{ .m1.age }}</p>
<ρ>性别: {{ .m1.gender }}</ρ>

</body>
</html>